<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Params Fire Detection</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/form.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
</head>
<body>
<div class="testbox">
    <form id="form" action="{{ url_for('get_data') }}" method="post" enctype="multipart/form-data">
        <div class="banner">
            <h1>Formulario de los parámetros de entrada del algorítmo de detección de incendios</h1>
        </div>
        <div class="item">
            <p>Tipo de imagen<span>*</span></p>
            <div class="name-item">
                <select id="mytype" name="mytype" required>
                    <option value="" disabled selected hidden>Elige el tipo de imagen</option>
                    <option value="1">Original (Escala de grises)</option>
                    <option value="2">Falso color (Rainbow)</option>
                    <option value="3">Falso color (Iron)</option>
                </select>
            </div>
        </div>
        <div class="item">
            <p>Fuente multimedia<span>*</span></p>
            <div class="name-item">
                <select id="mysource" name="mysource" onchange="source()" required>
                    <option value="" disabled selected hidden>Elige la fuente de proveniencia de las imágenes</option>
                    <option value="1">Imágenes</option>
                    <option value="2">Directorio</option>
                    <option value="3">Vídeo</option>
                    <option value="4">TCP Streaming</option>
                </select>
            </div>
        </div>
        <div id='file-list-display'></div>
        <div class="item">
            <p>¿Quieres que los resultados obtenidos se guarden?</p>
            <button type="button" id="si" onclick="record()">SI</button>
            <button type="button" id="no" onclick="remove_record()">NO</button>
        </div>
        <div class="question">
            <div class="question-answer">
                <div id="record">
                </div>
                <div id="create_video">
                </div>
            </div>
        </div>
        <div id="display">
        </div>
        <div class="btn-block">
            <button type="submit">Enviar parámetros</button>
            <button type="reset" class="reset" onclick="restart()">Reiniciar formulario</button>
        </div>
    </form>
</div>
</body>
</html>