html, body {
    min-height: 100%;
}

.gallery {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/bg_dark.png');
}

h1 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    display: flex;
    color: #B03A2E;
    /*color: #999;*/
}